* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#frame {
  border: 1px solid white;
  height: 90vh;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#details {
  height: 15vh;
  width: 90%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.highscore {
  font-size: 30px;
}
.score {
  font-size: 30px;
}
.reset {
  font-size: 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
}
.reset:hover {
  background-color: gray;
}
#gamearea {
  border: 3px solid white;
  width: 90%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.snake {
  background: limegreen;
}
.food {
  background-color: pink;
}
